[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[% INCLUDE global/header.html.tmpl
   title = "SlackBugz administration"
%]

<h1>SlackBugz administration panel</h1>

<a href="page.cgi?id=slackbugz/usermap.html">Map Slack users to BugZilla users</a><br>
<a href="page.cgi?id=slackbugz/channelmap.html">Map Slack channels to BugZilla products/components</a><br>
<a href="page.cgi?id=slackbugz/colormap.html">Assign BugZilla severities a color in Slack</a>

[% INCLUDE global/footer.html.tmpl %]
