[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[% INCLUDE global/header.html.tmpl
   title = "SlackBugz channel mapping"
%]

<h1>SlackBugz channel to component mapping</h1>

<pre>[% dbg %]</pre>

[% IF channels.size %]
<form method="POST" action="page.cgi?id=slackbugz/channelmap.html">
  <table id="channel_admin_table" border="1" cellpadding="4" cellspacing="0">
    <tr>
      <th>Name</th>
      <th>Associated components</th>
    </tr>
    [% FOREACH c IN channels %]
    <tr>
      <td>
        <a href="https://[% domain %].slack.com/messages/[% c.name %]" target="_blank">#[% c.name %]</a>
        <input type="hidden" name="channels[]" value="[% c.slack_channel.id %]"/>
      </td>
      <td>
        <select name="components[[% c.slack_channel.id %]][]" multiple>
        [% FOREACH co IN components %]
          <option value="[% co.id %]"[% " selected" IF c.slack_channel.components.contains_component('id', co.id) %]>[% co.name %]</option>
        [% END %]
        </select>
      </td>
    </tr>
  [% END %]
  </table>
  <button type="submit" name="action" value="save_mapping">Save</button>
</form>
[% END %]
[% INCLUDE global/footer.html.tmpl %]
